unity/HomeostaticRL/Logs/
*.zip

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,unity,jupyternotebooks,python,csharp
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,unity,jupyternotebooks,python,csharp


# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*


### Unity ###
# This .gitignore file should be placed at the root of your Unity project directory
/[Tt]emp/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
