*.zip
summaries/*
models/*
ml-agents-0.8.1/
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,unity,jupyternotebooks,python,csharp
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,unity,jupyternotebooks,python,csharp


# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*


### Unity ###
# This .gitignore file should be placed at the root of your Unity project directory
unity/*/[Tt]emp/
unity/*/[Ll]ogs/
unity/*/[Oo]bj/
unity/*/[Bb]uild/
unity/*/[Bb]uilds/
UnitySDK.log

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
